
.content-view .file-head-view  {
    display: flex;
    width: 100%;
    height: 25px;
    overflow: hidden;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    align-items: center;
}
.file-head-view .file-types {flex: 0 0 60px; }
.file-head-view .btn-icons {flex: 0 0 18px;}
.file-head-view .info {display:flex; flex: 1; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.file-head-view .info .nm { padding: 0; }
.file-head-view .info .sz { padding: 0 0 0 5px; }
.file-head-view .info .tm { padding: 0 0 0 5px; }

.file-view .error-view { width: 100%; height: 100%; padding: 10px; }
.file-view .embed-view { width: 100%; height: 100%; }
.file-view .embed-view embed {width: 100%; height: 100%;}
.file-view .image-view { width: 100%; height: 100%; }
.file-view .image-view img {width: 100%; height: 100%; object-fit: contain; }
.file-view .video-view { width: 100%; height: 100%; }
.file-view .video-view video {width: 100%; height: 100%;}
.file-view .audio-view { width: 100%; height: 100%; }
.file-view .audio-view audio {width: 100%; height: 100%;}
.file-view .md-view { width: 100%; height: 100%; }
.file-view .quill-view { width: 100%; height: 100%; }
.file-view .monaco-view { width: 100%; height: 100%; }
.file-view .excalidraw-view { width: 100%; height: 100%; }
.file-view .none-view { width: 100%; height: 100%; }
.file-view .empty-view { width: 100%; height: 100%; }

.fa-file-lines { width: 16px; height: 16px; color: var(--folder-color); }
.fa-file-lines.inactive { color: var(--inactive-color); cursor: pointer;}
.fa-file-code { width: 16px; height: 16px; color: var(--folder-color); }
.fa-file-code.inactive { color: var(--inactive-color); cursor: pointer;}
.fa-file-image { width: 16px; height: 16px; color: var(--folder-color); }
.fa-file-image.inactive { color: var(--inactive-color); cursor: pointer;}
.fa-file-invoice { width: 16px; height: 16px; color: var(--folder-color); }

.fa-arrow-rotate-right {color: var(--folder-color); }
